<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="conexionEjercicio" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Oniros\Source\Repos\OnirosMorpheo\EjercicioApi\Ejercicio.BBDD\BBDDLocal\bbddLocal.mdf;Integrated Security=True;Connect Timeout=30;" providerName="System.Data.SqlClient" />
    <!-- -->
    <!--User Id = sa; Password = ;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="JWT_ACTIVADO" value="false" />
    <add key="JWT_SECRET_KEY" value="clave-secreta-api" />
    <add key="JWT_AUDIENCE_TOKEN" value="https://localhost:44354" />
    <add key="JWT_ISSUER_TOKEN" value="https://localhost:44354" />
    <add key="JWT_EXPIRE_MINUTES" value="1440" />
    <add key="RutaXMLDocumentacion" value="bin\Ejercicio.WebApi.xml" />
    <add key="NivelTraza" value="5" />
    <add key="SMTPEmailLog" value="smtp.gmail.com" />
    <add key="FromEmailLog" value="kepa.pedro@gmail.com" />
    <add key="ToEmailLog" value="kepa.pedro@gmail.com" />
    <add key="AsuntoEmailLog" value="[Ejercicio] [DESA] " />
    <add key="Aplicacion" value="EjercicioApi" />
    <add key="BorradoLogico" value="true" />
    <!-- SISTEMAS DE REGISTRO DE TRAZAS/EXCEPCIONES
         - debuglog ->
         - windowseventlog -> PS> New-EventLog -Source "WebApi" -LogName 
         - dblog ->
         - emaillog -> 
         - filelog -> %APP_DATA%/Log.txt
    -->
    <add key="SistemasRegistroTrazas" value="dblog,debuglog" />
    <add key="SistemasRegistroExcepciones" value="dblog,debuglog" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>